* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}

header {
  display: flex; /* disposicao de um elemento dentro da caixa */
  align-items: center;
  justify-content: space-between; /* Espaço entre as caixas */
  padding: 48px;
  position: fixed;
  width: 100%;
  background-color: #09090a;
}

#form-habits {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px; /* emojis/icones sao fonts */
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono"; /* importada no html */
  font-size: 20px;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;
  display: flex; /* Visualizacao do botao flexivel, nao mais inline */
  align-items: center; /* Só é possivel com flex, alinha os itens flex ao centro */
  gap: 12px; /* Só é possivel com flex, espaço entre os elementos */
  font-family: "Inter"; /* fonte linkada do fonts.google.com */
  font-weight: 600; /* Peso da fonte */
  font-size: 16px;
  line-height: 125%; /* altura da linha */
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
  background: #18181b;
}

/* pseudo-selector */
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

/* at-rules, resposividade */
@media (max-width: 570px) { 
  button div {
    display: none;
  }
}